<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <% if(locals.user) { %>
        <section class="welcome">
           <h2>Welcome back, <%= user.username %></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto minima distinctio fugiat!</p>
        </section>
           <% if(locals.user.membership_status){ %>
          <% if (locals.messages && locals.messages.length > 0) { %>
         <section class="messages">
        <h1>Messages:</h1>
        <ul class="messages-list">
            <% locals.messages.forEach(function(message) { %>
                <li class="message-item">
                    <div class="message-top">
                    <h3><%= message.title %></h3>
                   <% if (locals.user.admin) { %>
                        <form action="/messages/<%= message.id %>" method="POST">
                            <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    <% } %>
                </div>
                    <p class="message-text"><%= message.text %></p>
                    <p class="message-inf">Written by: <a class="written-by" href="/profile/<%= message.written_by_id %>"><strong><%= message.written_by %></a></strong> on <span class="message-date"><%= message.date_and_time.toLocaleDateString() %></span></p>
                    
                </li>
            <% }) %>
        </ul>
        </section>
    <% } else { %>
        <p>No messages available.</p>
    <% } %>
          <% } else { %>
            <div class="member-need">
            <p>You need to be a member to view messages.</p>
            <a href="/membership">Get Membership</a>
            </div>
            <% } %>
        <% } else {  %>
            <div class="log-in-form">
<h1>Please, log in</h1>
    <form class="login-form" action="/log-in" method="POST">
      <div class="input-group">
      <label for="username">Username:</label>
      <input id="username" name="username" placeholder="username" type="text" />
      </div>
      <div class="input-group">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" />
      </div>
      <button type="submit">Log In</button>
    </form>
    <p class="sign-text">Don't have an account? <a href="/sign-up">Sign Up</a></p>
</div>
        <% }  %>
</body>
</html>